@import "mocha.css";

window#waybar {
    background-color: @base;
    color: @text;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 4px;
    color: @text;
}

#battery.charging, #battery.plugged {
    color: #1e1e2e;
    background-color: @green;
    border-radius: 10px;
    padding: 5px 10px;
}

@define-color col_border_solid rgba(120, 120, 120, 1);
@define-color col_border_trans rgba(120, 120, 120, 0);

#waybar > box:nth-child(2) > box:nth-child(3) > * > label {
  padding: 0 15px;
}

#waybar > box:nth-child(2) > box:nth-child(3) > *:not(:first-child) > label {
  background-image:
    linear-gradient(@col_border_trans, @col_border_solid 45%, @col_border_solid 55%, @col_border_trans)
  ;
  background-size:1px 20%;
  background-position:0 50%;
  background-repeat:no-repeat;
}