/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Imports
 * -------------------------------------------------------------------------- */

@import "mocha.css";

/* -----------------------------------------------------------------------------
  * Base styles
  * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
  border: 0;
  padding: 0;
  margin: 0;
  font-family: JetBrains Mono Nerd Font, Roboto, Helvetica, Arial, sans-serif;
  font-size: 12px;
}

window#waybar {
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  color: @lavender;
}

/* -----------------------------------------------------------------------------
  * Workspace Styles
  * -------------------------------------------------------------------------- */
#workspaces {
  margin: 0 4px;
  border-style: solid;
  opacity: 1;
  border-radius: 10px;
}

#workspaces button {
  color: whitesmoke;
}

#workspaces button.active {
  background-color: @lavender;
  color: @base;
}

/* -----------------------------------------------------------------------------
  * Module Styles
  * -------------------------------------------------------------------------- */

/* General module styles */
#clock,
#custom-swap,
#custom-cava-internal,
#battery,
#cpu,
#memory,
#disk,
#idle_inhibitor,
#temperature,
#custom-keyboard-layout,
#backlight,
#network,
#pulseaudio,
#mode,
#tray,
#custom-power,
#custom-pacman,
#custom-launcher,
#mpd {
  padding: 0px 4px;
  border-style: solid;
  opacity: 1;
  margin: 0 2px;
  border-radius: 8px;
}

/* Specific module styles */
#mode {
  color: @mauve;
  margin-right: 5px;
}

#clock {
  margin: 0;
  margin-right: 8px;
  font-weight: 700;
}

#battery {
  color: #d8dee9;
}

#battery.charging {
  background-color: #81a1c1;
  color: @base;
}

@keyframes blink {
  to {
    color: @red;
  }
}

#battery.critical:not(.charging) {
  color: #bf616a;
  animation: blink 0.5s linear infinite alternate;
}

#pulseaudio.muted {
  color: #b5bbca;
}

#temperature.critical {
  color: @red;
}

#tray {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
}

#window {
  border-style: hidden;
  margin: 0 10px;
  color: #eceff4;
}

.custom-spotify {
  padding: 0 10px;
  margin: 0 4px;
  border-radius: 10px;
  background-color: #1DB954;
  color: black;
}
